body{
    font-family: 'B612 Mono', monospace;
    padding:0px;
    margin:0px;
    color:#bcc0cf;
    user-select:none;
    overflow:none
}
html{
   /*background: radial-gradient(circle, rgba(3,33,51,1) 0%, rgba(0,7,22,1) 100%);*/
   background:transparent
}

.skinsLeft img{
  width:155px;
}

.skinsRight img{
  width:290px;
}

.skinsLeft div{
  width:160px;

}

.footerOption{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color:rgb(184, 184, 184);
  cursor:pointer;
}

.footerOption:hover{
  color:white
}

#footer{
  display:flex;
  justify-content: space-evenly;
  margin-top:5px;
  width:104%;
  padding:3px;
}

.settings{
  display:flex;
  justify-content: space-between;
  width:100%;
}

.settingColum{
  padding:14px;
  display:flex;flex-direction:column;
  margin:5px;
  border-radius:5px;
  width:50%;
  border:1px solid rgba(143, 143, 143, 0.6)
}

.option{
  font-weight: lighter;
  cursor:pointer;
  color:rgb(134, 134, 134)
}

.columTitle{
  font-size:18px;
  color:rgb(218, 218, 218);
  padding:15px;
  text-shadow: 0px 1px 15px rgba(255,255,255,1);
}

.optionActive{
  font-weight: bold;
  color:rgb(66, 190, 247);
}

.skinColumn div {
  padding:2px;
  position: relative;
  display:flex;flex-direction:column;
  margin:2px;
  border-radius:5px;
  border:1px solid rgba(143, 143, 143, 0.6)
}
  
#links{
    position:absolute;right:0;
}

#links img {
    padding:5px 15px;
    cursor:pointer;
}

button{
    border:none
}

.hoverWhite:hover{
  color:white
}

.pOption{
    margin-top:10px;
    padding:5px 10px;
    border: 1px solid #bcc0cf;
    cursor:pointer;
    border-radius:5px;
}

.pOptionActive {
    border: 1px solid white;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 15px rgba(255,255,255,1);
}

*:focus {
  outline: none;
}


.playerModel{
    display:flex;
    zoom:85%;
    flex-shrink: 0;
    text-align: center;
    justify-content: space-between;
    font-size:15px;
    width:98%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    padding:5px 5px;
    border-radius:2px;
}

#newversion{
  color:#3d90d4;
  cursor:pointer;
  font-weight: bold;
  font-size:13px;
}

.verifiedPlayerModel:hover .playerName{
  color:white
}

*{
    overflow: hidden;
}

.rates div{
margin-left:3px;
margin-bottom:10px;
margin-top:2px;
color:white;
width:35px;
text-align: center;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(24, 24, 24, 0.5); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49); 
    border-radius:4px;
  }
  
#bar{
  transition: 1s;
}

@keyframes loadingAni {
  0% {color: rgba(255, 255, 255, 0.89)}
  100% {color: rgba(255, 255, 255, 0.616)}
}

.loading{
  animation-name: loadingAni;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bgImg {
  background-color: #cccccc;
  height: 50px;
  background-position: center;
  padding:10px;
  margin-bottom:20px;
  background-repeat: no-repeat;
  border-radius: 15px;
  color:ghostwhite;
  text-shadow: #000 0 0 2px, #000 0 0 2px, #000 0 0 5px, #000 0 0 7px;font-size:20px;font-weight:bold;
  background-size:cover;
}


#keybind{
    padding:5px 10px;
    width:fit-content;
    cursor:pointer;
    background-color: #2468a0;
    font-weight: bold;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    margin-top:20px;
    color:white
}

.recording{
  background-color:#ff4a4a;
}

input, select{
    background-color:rgba(39, 39, 39, 0.5);
    font-size:15px;
    color:#bcc0cf;
    width:170px;
    text-align: center;
    border:1px solid black;
    border-radius:5px;
    padding:2px;
}

#header{
    display:flex;
    padding-left:10px;
    background-color: rgba(0,0,0,0.3);
    justify-content: space-between;
    flex-shrink: 0;
}

#headerRight{
    display:flex;
}

#top{
    display:flex;
    justify-content: space-between;
    width:100%;
    -webkit-app-region: drag;
}

.navClose{
  fill:rgb(170, 170, 170)
}

.navClose:hover{
  fill:rgb(255, 255, 255);
  cursor:pointer
}


#title{
    padding-top:2px;
    font-weight: bold;
    font-size:20px;
    margin-left:10%;
    background: -webkit-linear-gradient(90deg, rgba(58,81,180,1) 0%, rgba(29,253,250,1) 50%, rgba(69,116,252,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:rgb(236, 236, 236);
}

.button{
    padding:2px 8px;
    font-weight: bold;
    cursor:pointer;
    color:#363636;
}

.button:hover{
    color:#ffffff;
    text-shadow: black 1px 1px;
}

#close{
    background-color: #ff4a4a;
}

#hide{
    background-color: #ffc94a
}

#nav{
    display:flex;
    justify-content: space-around;
    flex-shrink: 0;
}

#container{
    display: flex;
    flex-direction: column;
    width:100%;
    flex-shrink: 0;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.9);
}

.nav-btn{
    background-color: #3d90d4;
    font-size:22px;
    margin:20px;
    padding:3px;
    width:50%;
    border-radius:5px;
    text-align: center;
}

.nav-btn:hover{
    background-color: #2468a0;
}

.moreplayers{
  display:flex;flex-direction:column;width:100%;
  justify-content:start;
  overflow-y:scroll;
  height:435px;
}

.morePlayersModel{
  width:500px;
}

#content{
    display:flex;
    margin:12px;
    text-align: center;
    margin-top:0px;
    width:97%;
    margin-top:5px;
    justify-content: center;
    height:100%;
    flex-direction: column;
}
